$lensColor : #5da3dc;

.trialFrame {
  display               : grid;
  grid-template-columns : 225px 225px;
}

.trialFrameButton {
  width : 170px;
}

.linsa {
  width         : 100px;
  height        : 12px;
  background    : $lensColor;
  position      : relative;
  top           : 7px;
  border-radius : 4px;
  cursor        : pointer;
}

.linsaInactive {
  background : #cbcbcb;
  cursor     : default !important;
}

.linsaValue {
  margin-top : 2px;
}

.modal-dialog {
  min-width : 1500px !important;
}

.linsaAdd {
  width           : 535px;
  height          : 385px;
  border          : 1px solid #dee2e6;
  border-radius   : 5px;
  position        : absolute;
  top             : 470px;
  left            : 300px;
  display         : flex;
  gap             : 10px;
  justify-content : space-between;
  padding         : 0 20px;
  flex-wrap       : wrap;
}

.slides {
  width           : 100%;
  height          : 180px;
  display         : flex;
  justify-content : center;
  margin-top      : 7px;
}

.accessories {
  display : inline-block;
  width   : 30px;
  height  : 130px;
  cursor  : pointer;
}

.rotatedText {
  transform        : rotate(-90deg);
  transform-origin : left bottom;
  width            : 113px;
  position         : relative;
  top              : 100px;
  left             : 26px;
}

.imgLupa {
  height   : 160px;
  position : relative;
  top      : 16px;
  left     : 74px;
}

.accBack {
  background : $lensColor;
}

.crossElements {
  width         : 495px;
  height        : 200px;
  border        : 1px solid #dee2e6;
  position      : relative;
  bottom        : 7px;
  border-radius : 5px;
}