body {
    padding : 5px;
}

.gridContainer {
    height                : calc(100vh - 11px);;
    display               : grid;
    grid-template-columns : 1fr;
    grid-auto-rows        : 54px 1fr 100px;
    grid-template-areas   :    'header'
                            'content'
                            'footer';
}

.header {
    grid-area : header;
}

.content {
    grid-area : content;
}

.footer {
    grid-area : footer;
}