<!DOCTYPE html>
<html data-bs-theme="light" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <title>{{ .Title }}</title>
    <link rel="icon" type="image/x-icon" href="public/favicon.ico">
</head>
<body>
<main>
    <div class="">
        {{ template "content" . }}
    </div>
</main>
<script src="public/dist/bundle.js"></script>
</body>
</html>


